<%# ログイン時のみブックマーク機能をON %>
<% if user_signed_in? %>

  <%# カレントユーザーが作成した記事の場合は編集リンクを表示 %>
  <% if bookmark_base.user == current_user %>
    <div class="post-edit">
      <%= link_to "編集", edit_post_path(bookmark_base.id), class: "btn_green" %>
    </div>

  <%# 他のユーザーが作成した記事の場合はブックマークリンクを表示 %>
  <% else %>

    <%# ブックマーク既済の場合destroyアクションへのリンクを付与 %>
    <% if bookmark_base.bookmark_by?(current_user) %>
      <%= link_to "ブックマークを外す", bookmark_path(bookmark_base.bookmark_by(current_user), bookmark_base_id: bookmark_base.id, base_type: base_type(bookmark_base)), method: :delete, remote: true, class: "btn_red" %>

    <%# ブックマーク未済の場合createアクションへのリンクを付与 %>
    <% else %>
      <%= link_to "ブックマーク", bookmarks_path(bookmark_base_id: bookmark_base.id, base_type: base_type(bookmark_base)), method: :post, remote: true, class: "btn_blue" %>
    <% end %>
  <% end %>
<% end %>
