<%# 作り方リスト %>
<ol class="flow-table">
  <% flows.each do |f| %>
      <li>
        <p><%= f.body %></p>
        <%= link_to "削除", flow_path(f.id), method: :delete, remote: true, class: "btn_red" %>
      </li>
  <% end %>
</ol>