<table class="flow-table">
  <tbody>
    <% flows.each do |f| %>
      <tr>
        <td><%= f.body %></td>
        <td><%= link_to "削除", flow_path(f.id), method: :delete, class: "btn_red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>