<%# レシピ一覧ページ %>
<main class="main__background main__background__recipe">
  <div class="container">
    <div class="row">
      <%# レシピ一覧サイドバー %>
      <div class="sidebar col-12 col-sm-2 bg-white my-3 px-3">
        <%= render "/shared/index_sidebar", tags: @tags %>
      </div>

      <%# レシピ一覧メイン %>
      <div class="post-recipe-index col-12 col-sm-10 my-3 px-3">

        <%# タイトルバー %>
        <div class="titlebar bg-white">
          <h4 class="m-3">Recipes　<%= @title %></h4>
        </div>

        <%# レシピ一覧 %>
        <%= render "index", recipes: @recipes %>
        <%= paginate @recipes %>
      </div>
    </div>
  </div>
</main>
