<%# マイページサイドバー %>
<div class="col-2 my-4 px-3">
  <% if @user == current_user %>
    <%= render "mypage_sidebar", user: current_user %>
  <% else %>
    <%= render "show_sidebar", user: @user %>
  <% end %>
</div>

<%# マイページレシピ一覧メイン %>
<div class="col-10 my-4 px-3">
  <%= render "/shared/recipe_index", title: @title, recipes: @recipes %>
</div>
