<main class="main__background main__background__recipe">
  <div class="container">
    <div class="row">
      <%# マイページサイドバー %>
      <div class="user__info col-2 bg-white my-4 py-4">
        <% if @user == current_user %>
          <%= render "mypage_sidebar", user: current_user %>
        <% else %>
          <%= render "show_sidebar", user: @user %>
        <% end %>
      </div>

      <%# マイページレシピ一覧メイン %>
      <div class="post-recipe-index col-10 bg-white p-4 my-4">
        <%= render "/recipes/index", title: @title, recipes: @recipes %>
      </div>
    </div>
  </div>
</main>
