<%# トップページ背景 %>
<div class="container-fluid">
  <div class="row">
    <div class="background d-flex w-100 h-100">
      <div class="background__image_item col-4 p-0">
        <%= video_tag "/assets/main-visual-4c79b6d13387b6f06bd604e09f65b65d5670a2f4a3f40a4f3b9b8ebd830662ce.mp4", autoplay: true, loop: true, muted: true, class: "h-100" %>
      </div>
      <div class="background__image_item col-4 p-0"></div>
      <div class="background__image_item col-4 p-0"></div>
    </div>
  </div>
</div>
