<%# タグ検索フォーム %>
<table>
  <thead>
    <tr><td>タグ検索</td></tr>
  </thead>
  <tbody>
    <% if /post/ =~ request.fullpath %>
      <% tags.each do |tag| %>
        <tr><td><%= link_to tag.name, posts_path(tag_id: tag.id) %></td></tr>
      <% end %>
    <% else %>
      <% tags.each do |tag| %>
        <tr><td><%= link_to tag.name, recipes_path(tag_id: tag.id) %></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>
