<div class="key-visual__background">
  <div class="container">
    <div class="row">
      <%= video_tag "/assets/main-visual-4c79b6d13387b6f06bd604e09f65b65d5670a2f4a3f40a4f3b9b8ebd830662ce.mp4", autoplay: true, loop: true, muted: true, class: "key-visual" %>
      <div class="key-visual__title">
        <h1>Welcome to<br>Camping style</h1>
      </div>
      <% unless user_signed_in? %>
        <%= render "devise/shared/login_form" %>
      <% end %>
    </div>
  </div>
</div>
