<%# キービジュアル %>
<%# 背景 %>
<%= render "/shared/background" %>

<div class="container-fluid">
  <div class="row">
    <div class="key-visual w-100 mb-5">
      <%# タイトル %>
      <div class="key-visual__title d-flex align-items-center h-100">
        <h1 class="d-flex align-items-center justify-content-center w-100 bg-white">
          <span>C</span>
          <span>a</span>
          <span>m</span>
          <span>p</span>
          <span>i</span>
          <span>n</span>
          <span>g</span>&nbsp;
          <span>s</span>
          <span>t</span>
          <span>y</span>
          <span>l</span>
          <span>e</span>
        </h1>
      </div>

      <%# ログインフォーム %>
      <% unless user_signed_in? %>
        <%= render "devise/shared/login_form" %>
      <% end %>
    </div>
  </div>
</div>