<main>
  <div class="background">
    <div class="container">
      <div class="row">
        <%= video_tag "/videos/main-visual.mp4", autoplay: true, loop: true, muted: true, class: "key-visual" %>
        <div class="key-visual__cover">
          <div class="key-visual__title">
            <h1>Welcome to<br>Camping style</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</main>