<main>
  <div class="background">
    <div class="container">
      <div class="row">
        <%= video_tag "/videos/main-visual.mp4", autoplay: true, loop: true, muted: true, class: "key-visual" %>
        <%= render "devise/shared/login_form" %>
      </div>
    </div>
  </div>
  
</main>
