<%# 投稿一覧サイドバー %>
<div class="col-2 my-4 px-3">
  <%= render "/shared/index_sidebar", tags: @tags %>
</div>

<%# 投稿一覧メイン %>
<div class="col-10 my-4 px-3">
  <%= render "/shared/post_index", title: @title, posts: @posts %>
</div>
