<%# 投稿一覧ページ %>
<main class="main__background main__background__post">
  <div class="container">
    <div class="row">
      <%# 投稿一覧サイドバー %>
      <div class="sidebar col-2 bg-white my-3 px-3">
        <%= render "/shared/index_sidebar", tags: @tags %>
      </div>

      <%# 投稿一覧 %>
      <div class="post-recipe-index col-10 my-3 px-3">

        <%# タイトルバー %>
        <div class="titlebar bg-white">
          <h4 class="m-3">Posts　<%= @title %></h4>
        </div>

        <%# 投稿一覧 %>
        <%= render "index", posts: @posts %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</main>
