/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

// ベース
* {
  font-size: 12px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6, td, p, a, input, textarea, label {
  font-size: 1.5rem;
  color: #000000;

  &:hover {
    color: #000000;
  }
}

span {
  font-size: 1.25rem;
}

p {
  margin-bottom: 0;
}

.red {
  color: #ff0000;
}

.btn_yellow {
  display: inline-block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #ff9900;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_blue {
  display: inline-block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #0000ff;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_blue_mini {
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #0000ff;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_red {
  display: inline-block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #ff0000;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_red_mini {
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #ff0000;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_green {
  display: inline-block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #00ff00;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_green_mini {
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border: none;
  background-color: #00ff00;
  text-decoration: none;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.fa-pink:before {
  color: #f727c3;
}

.fa-blue:before {
  color: #2350e0;
}

.fa-brown:before {
  color: #e4a51d;
}

.fa-green:before {
  color: #1de41d;
}

.user-icon {
  border-radius: 50%;
}

.form {
  align-items: center;

  label {
    margin: auto;
  }

  input {
    font-size: 1rem;
    width: 100%;
  }
}

.main-img {
  width: 100%;
}

.need::after {
  content: "必須";
  font-size: 1rem;
  padding: 2px;
  margin-left: 10px;
  color: #ffffff;
  border-radius: 2px;
  background-color: #ff0000;
}

.titlebar {
  display: flex;
  justify-content: space-between;
}

.success {
  color: #00ff00;
  font-weight: bold;
  font-size: 1.5rem;

  &:before {
    font-family: "Font Awesome 5 free";
    content: "\f058";
    margin-right: 5px;
  }
}

.error {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.5rem;

  &:before {
    font-family: "Font Awesome 5 free";
    content: "\f06a";
    margin-right: 5px;
  }
}

div.field_with_errors {

  input, textarea {
    background-color: #dd7e7e;
  }
}

.notifications {
  position: relative;
  width: 100vw;
  text-align: center;
  padding-top: 80px;
  background-color: #333333;
}




// ヘッダー
header {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #00ff00;
  z-index: 1000;

  img {
    width: 200px;
  }

  .nav-link {
    font-size: 1.5rem;
  }
}


// トップページ背景
.background {
  position: fixed;
  width: 100%;

  .background__image_item {
    opacity: 0.7;
    overflow: hidden;

    &:nth-child(2) {
      background-image: image-url("key-visual-3.jpg");
      background-repeat: none;
      background-size: cover;
    }
    
    &:nth-child(3) {
      background-image: image-url("key-visual-2.jpg");
      background-repeat: none;
      background-size: cover;
    }
  }
}


// キービジュアル
.key-visual {
  position: relative;
  height: calc(100vh - 100px);

  h1 {
    height: 200px;
    padding-right: 30%;

    span {
      font-size: 7rem;
      opacity: 0;

      &:nth-child(1) {
        transform: matrix(1, 5, -5, 1, -50, 50);
        transition: 0.4s all ease-in-out;
      }
      &:nth-child(2) {
        transform: matrix(1, 5, 5, 1, 100, -100);
        transition: 0.5s all ease-in-out;
      }
      &:nth-child(3) {
        transform: matrix(1, 5, 5, 1, -150, 150);
        transition: 0.6s all ease-in-out;
      }
      &:nth-child(4) {
        transform: matrix(1, 5, 5, 1, 200, -200);
        transition: 0.7s all ease-in-out;
      }
      &:nth-child(5) {
        transform: matrix(1, 5, 5, 1, -250, 250);
        transition: 0.8s all ease-in-out;
      }
      &:nth-child(6) {
        transform: matrix(1, 5, 5, 1, 300, -300);
        transition: 0.9s all ease-in-out;
      }
      &:nth-child(7) {
        transform: matrix(1, 5, 5, 1, -350, 350);
        transition: 1.0s all ease-in-out;
      }
      &:nth-child(8) {
        transform: matrix(1, 5, 5, 1, 400, -400);
        transition: 1.1s all ease-in-out;
      }
      &:nth-child(9) {
        transform: matrix(1, 5, 5, 1, -450, 450);
        transition: 1.2s all ease-in-out;
      }
      &:nth-child(10) {
        transform: matrix(1, 5, 5, 1, 500, -500);
        transition: 1.3s all ease-in-out;
      }
      &:nth-child(11) {
        transform: matrix(1, 5, 5, 1, -550, 550);
        transition: 1.4s all ease-in-out;
      }
      &:nth-child(12) {
        transform: matrix(1, 5, 5, 1, 600, -600);
        transition: 1.5s all ease-in-out;
      }
    }
  }
  
  .login-form__wrapper {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    
    .login-form {
      width: 400px;
      border: 10px solid #ff9900;
      
      .login-form__field {
        width: 80%;
        margin: 0 auto;
      }
      
      .login-form__check-box input {
        width: 20px;
        height: 20px;
      }
    }
  }
}


// メイン
main {
  position: relative;
  min-height: calc(100vh - 100px);
}


// メイン背景
.main__background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__background__user {
  background-image: image-url("main-background.jpg");
}

.main__background__post {
  background-image: image-url("parallax-1.jpg");
}

.main__background__recipe {
  background-image: image-url("parallax-2.jpg");
}


// トップページ
.top-page .row {
  min-height: 100vh;
}

#about, .top-posts, .top-recipes {
  max-width: 1140px;
  margin: auto;

  h2 {
    margin-left: 20px;
    padding-left: 300px;

    span {
      display: inline-block;
      font-size: 4rem;

      &:nth-child(1) {
        transform: rotateY(90deg);
        transition: 0.4s all ease-in-out;
      }

      &:nth-child(2) {
        transform: rotateY(90deg);
        transition: 0.6s all ease-in-out;
      }

      &:nth-child(3) {
        transform: rotateY(90deg);
        transition: 0.8s all ease-in-out;
      }

      &:nth-child(4) {
        transform: rotateY(90deg);
        transition: 1.0s all ease-in-out;
      }

      &:nth-child(5) {
        transform: rotateY(90deg);
        transition: 1.2s all ease-in-out;
      }

      &:nth-child(6) {
        transform: rotateY(90deg);
        transition: 1.4s all ease-in-out;
      }

      &:nth-child(7) {
        transform: rotateY(90deg);
        transition: 1.6s all ease-in-out;
      }
    }
  }

  h4 {
    position: relative;
    height: 50px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 2px;
      transform: translateX(-50%) translateY(20px);
      background-color: #00ffb3;
    }
  }

  h5 {
    margin-left: 20px;
  }

  .card {
    box-shadow: 15px 15px 0 #989898;
    transition: 0.3s all ease-in-out;

    .card-img-top {
      height: 250px;
    }

    &:hover {
      transform: translateY(-30px);
    }

    .card-text {
      height: 90px;
      overflow-y: scroll;
    }
  }
}


// パララックス
.parallax-bg {
  width: 100vw;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-bg-01 {
  background-image: image-url("parallax-1.jpg");
}

.img-bg-02 {
  background-image: image-url("parallax-2.jpg");
}


// 一覧ページサイドバー
.sidebar {
  max-height: 600px;

  h6 {
    font-weight: bold;
    border-left: 4px solid #00ff00;
  }

  .tag-sidebar {
    max-height: 400px;
    overflow: scroll;

    table {
      width: 100%;
          
      td {
        padding: 3px;
        border-bottom: 2px solid #ffffff;
        
        a {
          display: block;
          width: 100%;
          font-size: 1.25rem;
          
          &:hover {
            text-decoration: none;
          }
        }
        
        &:hover {
          transition: all 0.3s;
          border-bottom: 2px solid #00ff00;
        }
      }
    }
  }
}


// 一覧ページメイン
.post-recipe-index {

  .card-box {
    display: flex;
    flex-wrap: wrap;
    
    .card {
      min-width: 250px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      border-radius: 0px;
      background-color: #ffffff;

      .card-title {
        width: 200px;
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 2px solid #ff9900;
      }

      .card-icon {
        display: flex;
        justify-content: center;

        .favorites {

          p {
            color: #000000;
          }
        }
        
        .comments {
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      .user-body {
        display: flex;
        justify-content: center;
        align-items: center;

        .user-body__right {
          margin-left: 10px;

          .relationships {
            margin-bottom: 5px;
          }

          a {
            width: 100%;
            padding-top: 2px;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}


// 詳細ページ
.show_left {
  
  .show__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    
    h3 {
      max-width: 320px;
      border-bottom: 2px solid #00ff00;
    }

    a {
      font-size: 1.25rem;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .show__user-body {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 5px solid #00ff00;
    
    .user-body__left {
      margin-left: 20px;
    }
    
    .user-body__center {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      
      a {
        width: 100px;
        padding: 2px;
        margin-top: 5px;
      }
    }
    
    .user-body__right {
      display: flex;
      align-items: center;
      
      p {
        font-size: 1rem;
        margin-left: 5px;
        margin-right: 5px;
        color: #000000;
      }
    }
  }
  
  .tag-list {
    
    .btn_blue_mini {
      margin-bottom: 5px;
    }
  }
  
  .show__text {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-top: 5px solid #ff9900;
    border-bottom: 5px solid #ff9900;
    
    p {
      width: 100%;
      min-height: 100px;
    }
  }
}

.show_right {

  h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid #00ff00;
  }

  form {
    display: flex;
    align-items: center;
    
    textarea {
      width: 80%;
      height: 50px;
      margin-right: 20px;
    }
    
    input {
      height: 50px;
      color: #ffffff;
      background-color: #0000ff;
      border-radius: 5px;
    }
  }
}

.comment__list {
  margin-top: 30px;
  
  .comment-item {
    display: flex;
    margin-bottom: 10px;
    
    .comment-body {
      display: flex;
      align-items: center;
      width: 80%;
      margin-bottom: 10px;
      
      p {
        display: inline-block;
        width: 80%;
        min-height: 50px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 20px;
        border: 1px solid #000000;
      }

      a {
        height: 50px;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 50px;
      }
    }
  }
}

.show__food {
  margin-top: 20px;

  h5 {
    margin-bottom: 10px;
    border-bottom: 2px solid #00ff00;
  }

  p {
    margin-left: 50px;
    border-bottom: 2px solid #cccccc;
  }
}

.show__flow {
  margin-top: 20px;

  h5 {
    margin-bottom: 10px;
    border-bottom: 2px solid #00ff00;
  }

  ol {
    padding-left: 60px;

    li {
      font-size: 1.5rem;
      border-bottom: 2px solid #cccccc;
    }
  }
}


// 新規・編集投稿およびレシピ
.new-edit__body {
  flex-wrap: wrap;
  
  .new-edit__left, .new-edit__right {
    background-color: #cccccc;
  }

  label, input, textarea, ul, button, .img-box {
    display: block;
    margin: auto;
  }

  label {
    margin-bottom: 10px;
  }

  .main-img {
    border: 1px solid #000000;
    background-color: #ffffff;
  }

  .title input, .tag input {
    width: 90%;
  }

  #tags {
    display: none;
  }

  .img-box {
    width: 90%;
    height: 370px;
  }

  .img, .tagit-label {
    font-size: 1.25rem;
  }

  .tagit {
    border: 1px solid #000000;
    background-color: #ffffff;
  }

  textarea {
    width: 90%;
    height: 350px;
  }

  .action {
    display: block;
    margin: 0 auto;
  }
}


// レシピ編集ページ
.new-edit__body_under {

  input, textarea {
    display: inline-block;
  }

  .flow-text {
    height: 66px;
  }

  #name, #body {
    width: 70%;
  }

  .btn_blue, .btn_red {
    font-size: 1.25rem;
  }

  .food-table, .flow-table {
    width: 90%;
    margin: 0 auto;
  
    tr {
      
      td {
        
        &:first-child {
          border-bottom: 1px solid #999999;
          width: 70%;
        }
      }
    }
  }

  .edit-flow__form {
    display: flex;
    align-items: center;
  }
  
  .flow-table {
  
    li {
      font-size: 1.5rem;
      
      p {
        display: inline-block;
        width: 70%;
        padding: 3px;
        border-bottom: 1px solid #999999;
      }
    }
  }
}



// ページネーション
.pagination {
  justify-content: center;
  margin-top: 40px;
  border: none;
  color: #696969;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  .page-link {
    color: #ff9900 !important;
  }

  .active a {
    color: #ffffff !important;
    background: #ff9900 !important;
    border-color: #ff9900 !important;
    border-radius: 50%;
  }

  li a:hover {
    border-radius: 50%;
  }
}


// フッター
footer {
  position: relative;
  border-top: 2px solid #00ff00;
}


// 共通クラス
// キービジュアルフェードイン
.fadein {
  opacity: 1 !important;
  transform: matrix(1, 0, 0, 1, 0, 0) !important;
}

// セクションフェードイン
.fadein_sec {
  opacity: 1 !important;
  transform: matrix(1, 0, 0, 1, -300, 0) !important;
}


// レスポンシブ
@media screen and (max-width: 1500px) {
  .key-visual h1 {
    padding-right: 40%;
  }

  .login-form__wrapper {
    right: 50px !important;
  }
}

@media screen and (max-width: 485px) {
  // ヘッダー
  header {
    width: 100vw !important;
  }

  // トップページ背景
  .background {
    width: 100vw !important;

    .background__image_item:first-child, .background__image_item:last-child {
      display: none;
    }
  }

  // キービジュアル
  .key-visual__title {
    align-items: flex-start !important;
    margin-top: 100px;
    
    h1 {
      height: 100px;
      padding: 0;
      
      span {
        font-size: 4rem;
        opacity: 1 !important;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }
    }
  }

  // ログインフォーム
  .login-form__wrapper {
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: translateX(0) translateY(-30%) !important;

    .login-form {
      width: 100% !important;
      height: 450px;
    }
  }

  // トップページ
  .top-page .row {
    margin: 0;
  }

  #about, .top-posts, .top-recipes {
    width: 100% !important;
    background-color: #cccccc;

    h2 {
      padding: 0;
      margin-top: 30px;

      span {
        opacity: 1 !important;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }
    }

    .card {
      box-shadow: none;

      &:hover {
        transform: translate(0) !important;
      }
    }
  }

  // パララックス
  .parallax-bg {
    height: 80vh;
  }

  .sidebar {
    padding-left: 24px !important;
    padding-right: 24px !important;

    .form {
      margin-bottom: 36px;
    }

    .tag-title, .tag-sidebar {
      display: none;
    }
  }

  // 投稿・レシピ一覧
  .post-recipe-index {
    h4 {
      font-size: 1.5rem;
    }
    
    .card-box {
      justify-content: center;
    }
  }

  .show_left {

    .main-img {
      width: 100%;
      height: 250px;
    }

    .show__title {
      display: block;
      
      h3 {
        font-size: 2rem;
        text-align: center;
        max-width: 100%;
        margin-bottom: 20px;
      }
    }

    .show__user-body {
      display: block;
      border-top: 2px solid #00ff00;
      border-bottom: 2px solid #00ff00;
      margin-top: 20px;

      .user-body__left_wrapper {
        justify-content: center;
        margin-top: 10px;

        .user-body__left {
          margin-left: 0;
        }        
      }

      .user-body__right {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  // コメント
  .comment-item {
    display: block !important;

    .user-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p {
        margin-left: 10px !important;
      }
    }

    .comment-body, p {
      width: 100% !important;
      margin: 0 !important;
    }
  }

  .new-edit__title {
    margin-left: 20px;
  }

  // 新規投稿・編集
  .new-edit__body {
    display: block !important;

    .new-edit__left, .new-edit__right {
      width: 100% !important;
      margin: 0 !important;

      #post_post_images {
        width: 100% !important;
      }
    }
  }

  .new-edit__body_under {
    margin-top: 0 !important;
    margin-bottom: 20px !important;

    .new-edit__right {
      padding-bottom: 20px !important;
    }
  }
}