.card-box {
  display: flex;
  
  .card {
    
    .card-body {
      width: 300px;
      margin: 0 auto;
      
      .card-title {
        margin-bottom: 0;
      }

      .card-body__link {
        margin-bottom: 10px;
      }

      .btn_blue, .btn_red {
        width: 100px;
        font-size: 0.5rem;
        padding: 3px;
        text-align: center;
      }

      .user-body {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 50%;
        }

        .user-body__text {
          margin-left: 30px;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}