.card-box {
  display: flex;
  flex-wrap: wrap;
  
  .card {
    margin: 4px;
    padding: 5px;
    text-align: center;
    border: 3px solid #4edb1f;
    border-radius: 20px;
    background-color: #ffffff;

    .post-image {
      border-radius: 20px;
    }
    
    .card-body {
      width: 280px;
      margin: 0 auto;
      padding-bottom: 0;
      
      .card-title {
        margin-bottom: 0;
      }

      .card-body__link {
        margin-bottom: 10px;
      }

      .btn_blue, .btn_red {
        width: 100px;
        font-size: 0.5rem;
        padding: 3px;
        text-align: center;
      }

      .user-body {
        display: flex;
        justify-content: center;
        align-items: center;

        .user-body__text {
          margin-left: 30px;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}